/*
* 5. Type styles
* ====================
*/

#{headings()} {
  vertical-align: baseline;
  display: block;
  color: $gray-dark;
  font-weight: 400;
  font-family: $secondary-font-family;

  a:focus, a:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 50px;
  line-height: 1;

  @media (min-width: $screen-sm-min) {
    font-size: 80px;
  }
}

h2, .h2 {
  font-size: 40px;
  line-height: 1;

  @media (min-width: $screen-sm-min) {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 30px;
  line-height: 1;

  @media (min-width: $screen-sm-min) {
    font-size: 40px;
  }
}

h4, .h4 {
  font-size: 25px;
  line-height: 1;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }
}

h5, .h5 {
  font-size: 20px;
  line-height: 1;

  @media (min-width: $screen-sm-min) {
    font-size: 24px;
  }
}

h6, .h6 {
  font-size: 20px;
  line-height: 1.2;
}

.h1, .h2, .h3, .h4, .h5, .h6{
  margin: 0;
}
